In [ ]:
# instalar pacotes noo google colaborate

In [ ]:
!pip install pypdf2 -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 232.6/232.6 kB 3.0 MB/s eta 0:00:00

In [ ]:
!pip install tika -q

In [ ]:
! pip install pdfplumber -q

     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 47.5/47.5 kB 1.2 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 5.6/5.6 MB 41.9 MB/s eta 0:00:00
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 78.7 MB/s eta 0:00:00

In [ ]:
!pip install pyodbc
!pip install sqlserverport
!sudo apt-get install unixodbc-dev
!pip install pyodbc
!pip install chart_studio

Collecting pyodbc
  Downloading pyodbc-5.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (334 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 334.8/334.8 kB 5.5 MB/s eta 0:00:00
Installing collected packages: pyodbc
Successfully installed pyodbc-5.0.1
Collecting sqlserverport
  Downloading sqlserverport-1.0.1-py3-none-any.whl (7.6 kB)
Installing collected packages: sqlserverport
Successfully installed sqlserverport-1.0.1
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
unixodbc-dev is already the newest version (2.3.9-5).
unixodbc-dev set to manually installed.
0 upgraded, 0 newly installed, 0 to remove and 18 not upgraded.
Requirement already satisfied: pyodbc in /usr/local/lib/python3.10/dist-packages (5.0.1)
Collecting chart_studio
  Downloading chart_studio-1.1.0-py3-none-any.whl (64 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 64.4/64.4 kB 2.1 MB/s eta 0:00:00
Requirement already satisfied: plotly in /usr/local/lib/python3.10/dist-packages (from chart_studio) (5.15.0)
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from chart_studio) (2.31.0)
Collecting retrying>=1.3.3 (from chart_studio)
  Downloading retrying-1.3.4-py3-none-any.whl (11 kB)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from chart_studio) (1.16.0)
Requirement already satisfied: tenacity>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from plotly->chart_studio) (8.2.3)
Requirement already satisfied: packaging in /usr/local/lib/python3.10/dist-packages (from plotly->chart_studio) (23.2)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests->chart_studio) (3.3.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->chart_studio) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->chart_studio) (2.0.6)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->chart_studio) (2023.7.22)
Installing collected packages: retrying, chart_studio
Successfully installed chart_studio-1.1.0 retrying-1.3.4

In [ ]:
%%sh

curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -

curl https://packages.microsoft.com/config/ubuntu/23.04/prod.list > /etc/apt/sources.list.d/mssql-release.list

sudo apt-get update

sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql18

OK
Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:4 https://packages.microsoft.com/ubuntu/23.04/prod lunar InRelease [3,611 B]
Hit:5 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Get:7 https://packages.microsoft.com/ubuntu/23.04/prod lunar/main all Packages [371 B]
Get:8 https://packages.microsoft.com/ubuntu/23.04/prod lunar/main arm64 Packages [1,746 B]
Get:9 https://packages.microsoft.com/ubuntu/23.04/prod lunar/main amd64 Packages [19.0 kB]
Get:10 https://packages.microsoft.com/ubuntu/23.04/prod lunar/main armhf Packages [576 B]
Get:11 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease [18.1 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,005 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-backports InRelease [109 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,347 kB]
Hit:15 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Get:16 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,270 kB]
Hit:17 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:18 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:19 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main Sources [2,203 kB]
Get:20 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy/main amd64 Packages [1,129 kB]
Fetched 7,339 kB in 6s (1,294 kB/s)
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
The following additional packages will be installed:
  odbcinst unixodbc
The following NEW packages will be installed:
  msodbcsql18 odbcinst unixodbc
0 upgraded, 3 newly installed, 0 to remove and 19 not upgraded.
Need to get 793 kB of archives.
After this operation, 164 kB of additional disk space will be used.
Get:1 http://archive.ubuntu.com/ubuntu jammy/universe amd64 odbcinst amd64 2.3.9-5 [10.0 kB]
Get:2 https://packages.microsoft.com/ubuntu/23.04/prod lunar/main amd64 msodbcsql18 amd64 18.3.2.1-1 [756 kB]
Get:3 http://archive.ubuntu.com/ubuntu jammy/universe amd64 unixodbc amd64 2.3.9-5 [26.8 kB]
Fetched 793 kB in 0s (2,833 kB/s)
Selecting previously unselected package odbcinst.
(Reading database ... 120875 files and directories currently installed.)
Preparing to unpack .../odbcinst_2.3.9-5_amd64.deb ...
Unpacking odbcinst (2.3.9-5) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../unixodbc_2.3.9-5_amd64.deb ...
Unpacking unixodbc (2.3.9-5) ...
Selecting previously unselected package msodbcsql18.
Preparing to unpack .../msodbcsql18_18.3.2.1-1_amd64.deb ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78.)
debconf: falling back to frontend: Readline
Unpacking msodbcsql18 (18.3.2.1-1) ...
Setting up odbcinst (2.3.9-5) ...
Setting up unixodbc (2.3.9-5) ...
Setting up msodbcsql18 (18.3.2.1-1) ...
odbcinst: Driver installed. Usage count increased to 1.
    Target directory is /etc
Processing triggers for man-db (2.10.2-1) ...

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: apt-key is deprecated. Manage keyring files in trusted.gpg.d instead (see apt-key(8)).
100   983  100   983    0     0   4428      0 --:--:-- --:--:-- --:--:--  4427
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    88  100    88    0     0    502      0 --:--:-- --:--:-- --:--:--   502
W: https://packages.microsoft.com/ubuntu/23.04/prod/dists/lunar/InRelease: Key is stored in legacy trusted.gpg keyring (/etc/apt/trusted.gpg), see the DEPRECATION section in apt-key(8) for details.
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 78, <> line 3.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:

In [ ]:
import pyodbc
import pandas as pd

In [ ]:
SERVER = 'ip,1433;'
DATABASE = 'baseDados'
USERNAME = 'usuario'
PASSWORD = 'senha'

In [ ]:
connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={SERVER};DATABASE={DATABASE};UID={USERNAME};PWD={PASSWORD}'

In [ ]:
conn = pyodbc.connect(connectionString)

In [ ]:
SQL_QUERY = """
            SELECT * FROM [dbo].[produtoOK];
"""

In [ ]:
cursor = conn.cursor()
cursor.execute(SQL_QUERY)

In [ ]:
records = cursor.fetchall()

In [ ]:
records

[(1, 'Hidratante Corporal', Decimal('26'), datetime.date(2023, 8, 30), 'Natura'),
 (2, 'Hidratante Corporal', Decimal('26'), datetime.date(2023, 9, 30), '2'),
 (3, 'Hidratante mãos', Decimal('13'), datetime.date(2023, 9, 30), '2'),
 (4, 'Hidratante pernas', Decimal('11'), datetime.date(2023, 9, 30), '2'),
 (5, 'Hidratante unhas', Decimal('7'), datetime.date(2023, 8, 12), '1'),
 (6, 'Hidratante facial', Decimal('80'), datetime.date(2023, 8, 12), '3'),
 (7, 'Batom ultra mate', Decimal('36'), datetime.date(2023, 7, 20), '6'),
 (8, 'Perfume Yes', Decimal('400'), datetime.date(2023, 7, 20), '7'),
 (9, 'Perfume Yes rosa', Decimal('400'), datetime.date(2023, 7, 20), '7'),
 (10, 'Hidratante Corporal', Decimal('26'), datetime.date(2023, 9, 30), '2'),
 (11, 'Hidratante mãos', Decimal('13'), datetime.date(2023, 9, 30), '2'),
 (12, 'Hidratante pernas', Decimal('11'), datetime.date(2023, 9, 30), '2'),
 (13, 'Hidratante unhas', Decimal('7'), datetime.date(2023, 8, 12), '1'),
 (14, 'Hidratante facial', Decimal('80'), datetime.date(2023, 8, 12), '3'),
 (15, 'Batom ultra mate', Decimal('36'), datetime.date(2023, 7, 20), '6'),
 (16, 'Perfume Yes', Decimal('400'), datetime.date(2023, 7, 20), '7'),
 (17, 'Perfume Yes rosa', Decimal('400'), datetime.date(2023, 7, 20), '7')]

In [ ]:
for r in records:
    print(f"{r.nome_produto}\t{r.valor_produto}\t{r.data_compra}")

Hidratante Corporal	26	2023-08-30
Hidratante Corporal	26	2023-09-30
Hidratante mãos	13	2023-09-30
Hidratante pernas	11	2023-09-30
Hidratante unhas	7	2023-08-12
Hidratante facial	80	2023-08-12
Batom ultra mate	36	2023-07-20
Perfume Yes	400	2023-07-20
Perfume Yes rosa	400	2023-07-20
Hidratante Corporal	26	2023-09-30
Hidratante mãos	13	2023-09-30
Hidratante pernas	11	2023-09-30
Hidratante unhas	7	2023-08-12
Hidratante facial	80	2023-08-12
Batom ultra mate	36	2023-07-20
Perfume Yes	400	2023-07-20
Perfume Yes rosa	400	2023-07-20

In [ ]:
len(records)

6

In [ ]:
  # inserir
SQL_STATEMENT = """
INSERT [dbo].[produto] (
id_produto,
nome_produto,
valor_produto,
data_compra,
nome_fabricante
)
VALUES (?, ?, ?, ?, ?);
"""


x = """INSERT INTO  [dbo].[produto] VALUES (8,'Batom Mega ultra brilho',15.50,'2023-07-20',6);"""

In [ ]:
cursor.execute(
    SQL_STATEMENT,
    8,
    'Batom Mega ultra brilho',
    15.50,
    '2023-07-20',
    6
)

In [ ]:
cursor.execute(x)

IntegrityError: ignored

In [ ]:
conn.commit() # para salvar de fato na base

In [ ]:
cursor.close() # encerrar
conn.close()

In [ ]:
def conexao():
  servidor = 'ip,1433;'
  database = 'teste'
  usuario = 'usuario'
  senha = 'senha'
  connectionString = f'DRIVER={{ODBC Driver 18 for SQL Server}};SERVER={servidor};DATABASE={database};UID={usuario};PWD={senha}'
  conn = pyodbc.connect(connectionString)
  return conn

In [ ]:
def pesquisaProd():
  p = "SELECT * FROM [dbo].[produtoOK];"
  c = conexao()
  cursor = c.cursor()
  cursor.execute(p)
  resultado = cursor.fetchall()
  cursor.close()
  c.close()
  return resultado

In [ ]:
def inseriProd(nome,valor,fabricante):
  c = conexao()
  ex = c.cursor()
  salvar = """ INSERT [dbo].[produtoOK] (
    nome_produto,
    valor_produto,
    data_compra,
    nome_fabricante)
    VALUES (?, ?, ?, ?);"""
  ex.execute(salvar,nome,valor,'2023-07-20',fabricante)
  c.commit() # para enviar para a base de dados
  ex.close()
  c.close()

In [ ]:
def pesqProdTab():
  p = "SELECT * FROM [dbo].[produtoOK];"
  c = conexao()
  cursor = c.cursor()
  df = pd.read_sql(p,c)
  cursor.close()
  c.close()
  return df

In [ ]:
def inseriProdTab(df):
  c = conexao()
  cursor = c.cursor()
  for index, row in df.iterrows():
      query = """INSERT INTO [dbo].[produtoOK] (
        nome_produto,
        valor_produto,
        data_compra,
        nome_fabricante) values(?,?,?,?);"""
      cursor.execute(query, row.nome_produto, row.valor_produto, row.data_compra, row.nome_fabricante)

  c.commit()
  cursor.close()
  c.close()

Chamada da função para inserir o perfume

In [ ]:
inseriProd(9,'Perfume Yes rosa',400.00,7)

In [ ]:
resultado = pesquisaProd()
resultado

[(1, 'Hidratante Corporal', Decimal('25.99'), datetime.datetime(2023, 9, 30, 0, 0), 2),
 (2, 'Hidratante mãos', Decimal('13.00'), datetime.datetime(2023, 9, 30, 0, 0), 2),
 (3, 'Hidratante pernas', Decimal('10.77'), datetime.datetime(2023, 9, 30, 0, 0), 2),
 (4, 'Hidratante unhas', Decimal('7.00'), datetime.datetime(2023, 8, 12, 0, 0), 1),
 (5, 'Hidratante facial', Decimal('80.00'), datetime.datetime(2023, 8, 12, 0, 0), 3),
 (6, 'Batom ultra mate', Decimal('35.50'), datetime.datetime(2023, 7, 20, 0, 0), 6),
 (7, 'Perfume Yes', Decimal('400.00'), datetime.datetime(2023, 7, 20, 0, 0), 7)]

In [ ]:
for r in resultado:
    print(f"{r.nome_produto}\t{r.valor_produto}\t{r.data_compra}")

Hidratante Corporal	25.99	2023-09-30 00:00:00
Hidratante mãos	13.00	2023-09-30 00:00:00
Hidratante pernas	10.77	2023-09-30 00:00:00
Hidratante unhas	7.00	2023-08-12 00:00:00
Hidratante facial	80.00	2023-08-12 00:00:00
Batom ultra mate	35.50	2023-07-20 00:00:00
Perfume Yes	400.00	2023-07-20 00:00:00

In [ ]:
df = pd.DataFrame(resultado)
df.head()

                                                   0
0  [1, Hidratante Corporal, 25.99, 2023-09-30 00:...
1  [2, Hidratante mãos, 13.00, 2023-09-30 00:00:0...
2  [3, Hidratante pernas, 10.77, 2023-09-30 00:00...
3  [4, Hidratante unhas, 7.00, 2023-08-12 00:00:0...
4  [5, Hidratante facial, 80.00, 2023-08-12 00:00...

In [ ]:
type(resultado)

list

In [ ]:
df_r = pesqProdTab()
df_r

<ipython-input-62-b47ba0ca7f7c>:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(p,c)

    id_produto         nome_produto  valor_produto data_compra nome_fabricante
0            1  Hidratante Corporal           26.0  2023-08-30          Natura
1            2  Hidratante Corporal           26.0  2023-09-30               2
2            3      Hidratante mãos           13.0  2023-09-30               2
3            4    Hidratante pernas           11.0  2023-09-30               2
4            5     Hidratante unhas            7.0  2023-08-12               1
5            6    Hidratante facial           80.0  2023-08-12               3
6            7     Batom ultra mate           36.0  2023-07-20               6
7            8          Perfume Yes          400.0  2023-07-20               7
8            9     Perfume Yes rosa          400.0  2023-07-20               7
9           10  Hidratante Corporal           26.0  2023-09-30               2
10          11      Hidratante mãos           13.0  2023-09-30               2
11          12    Hidratante pernas           11.0  2023-09-30               2
12          13     Hidratante unhas            7.0  2023-08-12               1
13          14    Hidratante facial           80.0  2023-08-12               3
14          15     Batom ultra mate           36.0  2023-07-20               6
15          16          Perfume Yes          400.0  2023-07-20               7
16          17     Perfume Yes rosa          400.0  2023-07-20               7

In [ ]:
inseriProdTab(df_r)

In [ ]:
dic = {'prodNome':'Perfume Abraço','valProd':150.00,"dataCompra":"2023-07-15","fabNome":"L'Occitane"}
dic

{'prodNome': 'Perfume Abraço',
 'valProd': 150.0,
 'dataCompra': '2023-07-15',
 'fabNome': "L'Occitane"}

In [ ]:
import json

In [ ]:

obj = json.dumps(dic, indent=2)

In [ ]:
with open("prod2.json",'w') as escreve:
  escreve.write(obj)

In [ ]:
dic2= {
   "prod1":{
      'prodNome':'Perfume Flor de Carambola',
      'valProd':200.00,
      "dataCompra":"2023-07-15",
      "fabNome":"L'Occitane"},
   "prod2":{
      'prodNome':'Perfume Dama da Noite',
      'valProd':149.00,
      "dataCompra":"2023-07-15",
      "fabNome":"L'Occitane"},
   "prod3":{
      'prodNome':'Colonia Capim Limão',
      'valProd':165.00,
      "dataCompra":"2023-07-15",
      "fabNome":"L'Occitane"}
}

In [ ]:
obj1 = json.dumps(dic2, indent=2,ensure_ascii=False)

In [ ]:
obj2 = json.dumps(dic2, indent=4,ensure_ascii=False)

In [ ]:
with open("produtos1.json",'w') as escreve:
  escreve.write(obj1)

In [ ]:
with open("produtos2.json",'w') as escreve:
  escreve.write(obj2)

In [ ]:
resp = " "
with open("produtos1.json",'r') as leia:
  resp = json.load(leia)

In [ ]:
resp['prod1']['prodNome']

'Perfume Flor de Carambola'